Flask==2.3.2
Flask-WTF==1.2.1
Flask-CKEditor==0.4.6
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
python-dotenv==1.0.1
bleach==6.2.0
gunicorn==23.0.0
Werkzeug==3.0.0
email-validator==2.1.0.post1
SQLAlchemy==2.0.37
WTForms==3.0.1
DateTime==5.5